<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset='utf-8'>
        <title>ExperienceIn</title>
    </head>
    <body>
        <h1>Bem-vindo ao ExperienceIn</h1>
        {% if perfis %}
            <ul>
                {% for p in perfis %}
                    <li><a href="{% url 'exibir' p.id %}">{{ p.nome }}</a> / {{ p.email }} </li>
                {% endfor %}
            </ul>
        {% else %}
            <p> Nenhum perfil encontrado </p>   
        {% endif %}
    </body>
</html>